@model IEnumerable<testing.Models.Product>

@{
    ViewBag.Title = "Product";
}

<h2>Product</h2>

<div>
@using (Html.BeginForm("Index", "Product", FormMethod.Get))
{
    <input value="Filter" type="submit" />
    @Html.TextBox("searching")
}
    </div>
<button> @Html.ActionLink("ADD", "Create") </button>


    <br />
    <br />
    <br />


    <div class="container">
        <h2 class="text-center">Product List</h2>
        <br />
        <br />

        @foreach (var item in Model)
        {
            double Price = Convert.ToInt32(item.Price);
            <div class="col-md-3" style="margin-bottom:25px">
                <div class="thumbnail">
                    <div class="image">
                        <img class="img-responsive" src="~/Uploads/@item.Image" height="350" width="240" />
                    </div>
                    <div class="caption" style="border-top:3px solid #808080">
                        <h3><a href="#">@item.Name</a></h3>
                        <h4>@Price.ToString("F2")$</h4>
                    </div>
                </div>
            </div>
        }
    </div>
